# Xcode
*.DS_Store
*.xcuserstate
*/build/*
*.pbxuser
!default.pbxuser
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspectivev3
!default.perspectivev3
xcuserdata
profile
*.moved-aside
DerivedData
.idea/
*.hmap

 HF_Client_iPhone_Application/Pods/Target Support Files/Pods-HF_Client_iPhone_Application/Pods-HF_Client_iPhone_Application.release.xcconfig
HF_Client_iPhone_Application/Pods/Target Support Files/Pods-HF_Client_iPhone_Application/Pods-HF_Client_iPhone_Application.debug.xcconfig
HF_Client_iPhone_Application/HF_Client_iPhone_Application.xcworkspace/xcuserdata/Caesar.xcuserdatad/xcdebugger/Breakpoints_v2.xcbkptlist:wq

# Injection Plugin for Xcode
iOSInjectionProject

#CocoaPods
Pods
